* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.umid {}

.ninza {}


.doston {}

.mohi {}

.dil {  
}

.dil-title{
    font-family: Hind Madurai;
font-size: 26px;
font-weight: 700;
line-height: 35.88px;
text-align: Arial;
}
.dil-text{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: Arial;
}
.dil-link{
    font-family: Arial;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: center;
background: #D64374;
padding: 15px 0;
text-decoration: none;
transition: 0.5s;
}
.dil-link:hover{
    color: #D64374;
}

.farohiddin {}