* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.umid {}

.ninza {}


.doston {}

.mohi_title {
    font-family: Hind Madurai;
    color: #150101;
    font-size: 44.2px;
    font-weight: 600;
    line-height: 61px;
    text-align: center;
}

.dil {}

.farohiddin {}