* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.umid {}

.ninza {}


.doston {}

.mohi {}

.dil {}

.farohiddin {}